{% extends "layouts/base.html" %}

{% block content %}

<h2>Attendance History</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for r in records %}
        <tr>
            <td>{{ r.employee.first_name }} {{ r.employee.last_name }}</td>
            <td>{{ r.date }}</td>
            <td>{{ r.status }}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}